/* Reset some basic elements */
html, body, div, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Apply a natural box layout model to all elements */
*, *:before, *:after {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1;
    background-color: #f4f4f4;
    color: #333;
}

/* Adjust the navbar to use flexbox */
/* Initial state of the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the navbar stays on top of other content */
    transition: height 0.4s ease; /*navbar height transition */
}

/* Large navbar state */
.navbar-large {
    height: 100px; /* Example initial large height */
    /* Add other styling as needed */
}

/* Small navbar state */
.navbar-small {
    height: 50px; /* Example smaller height when scrolled */
    /* Add other styling as needed */
}

/* Container for centering links */
.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 0px; /* Add space between links */
}

/* Style for the navbar links */
.navbar a {
    float: none; /* Remove float from individual links */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease; /* Add transition effect */
    border-radius: 20px; /* Round the corners of the navigation bar highlights */
}

/* Change the color of the links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Sytle for navigation bar logo image */
#navbar-logo-img {
    background-color: transparent;
} 

/* Style for the logo */
.nav-logo {
    margin-left: 20px; /* Adjust as needed */
    display: flex;
    align-items: center;
}

/* Style for the social media bar */
.social-media-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100; /* Ensure it stays on top of other content */
    display: flex;
    flex-direction: column; /* Stack links vertically */
    /* background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */ 
    padding: 10px;
}

.social-media-bar a {
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-media-bar a:hover {
    color: #ddd; /* Lighten the link color on hover */
}

/* Style for the hero image */
.hero {
    background-image: url('../images/guatemala-volcano.webp');
    height: 100vh; /* Cover the full viewport height */
    width: 100vw; /* Cover the full viewport width */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Refine Navigation Bar for Mobile */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center; /* This centers the items in the navbar, including the logo if it's a direct child */
        padding: 0px;
        position: static; /* Override sticky or fixed positioning */
    }
    .nav-logo {
        width: 100%; /* Ensure the nav-logo element spans the full width */
        display: flex;
        justify-content: center; /* Center the content, which is the logo in this case */
    }
    .nav-links {
        flex-direction: column; /* Stack the links vertically */
        gap: 10px; /* Adjust gap for vertical spacing if needed */
        width: 100%; /* Make nav-links container full width */
    }
    .nav-phone {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nav-phone a {
        font-size: 16px;
        text-align: center;
        padding: 10px 0;
    }
    .social-media-bar {
        display: none;
    }
    .hero {
        height: 50vh;
    }
}

/* Adjustments for social media bar are already in place */